n8n-workflows/air-quality-workflow.json
{
  "name": "ESP32 Air Quality Monitor",
  "__import_instructions": [
    "1. Open n8n at http://192.168.10.60:5678",
    "2. Workflows → Import from File → upload this JSON",
    "3. Configure MQTT and Telegram credentials",
    "4. Activate the workflow"
  ],
  "nodes": [
    {
      "id": "mqtt-aq",
      "name": "MQTT: Air Quality",
      "type": "n8n-nodes-base.mqttTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {
        "topics": "homelab/air_quality/#"
      },
      "credentials": {
        "mqtt": { "id": "mqtt-homelab", "name": "Homelab MQTT" }
      }
    },
    {
      "id": "code-parse",
      "name": "Parse AQ Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300],
      "parameters": {
        "jsCode": "const topic = $input.first().json.topic;\nconst payload = $input.first().json.message;\nconst parts = topic.split('/');\nconst location = parts[2];\nconst isAlert = parts[3] === 'alerts';\nconst alertType = parts[4];\n\nconst messages = {\n  co2: {\n    warning:  `⚠️ CO2 elevated (${location}): consider ventilating`,\n    critical: `🚨 CO2 CRITICAL (${location}): open windows NOW!`\n  },\n  pm25: {\n    warning: `⚠️ PM2.5 elevated (${location}): consider air purifier`\n  }\n};\n\nconst message = isAlert && messages[alertType] ? messages[alertType][payload] : null;\n\nreturn [{ json: { location, isAlert, alertType, alertLevel: payload, message, shouldNotify: message !== null } }];"
      }
    },
    {
      "id": "filter-alerts",
      "name": "Alerts Only",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300],
      "parameters": {
        "conditions": {
          "boolean": [{ "value1": "={{ $json.shouldNotify }}", "value2": true }]
        }
      }
    },
    {
      "id": "telegram-aq",
      "name": "Telegram: AQ Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [850, 200],
      "parameters": {
        "chatId": "-4985168305",
        "text": "={{ $json.message }}\n🕐 {{ new Date().toLocaleTimeString() }}",
        "additionalFields": { "parse_mode": "HTML" }
      },
      "credentials": {
        "telegramApi": { "id": "telegram-homelab", "name": "HomeLab Telegram" }
      }
    },
    {
      "id": "influxdb-write",
      "name": "InfluxDB: Log Metric",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [850, 400],
      "parameters": {
        "method": "POST",
        "url": "http://192.168.10.83:8086/write?db=esp32_sensors&precision=ms",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "bodyContentType": "raw",
        "rawBody": "=air_quality_alert,location={{ $json.location }},type={{ $json.alertType }} level=\"{{ $json.alertLevel }}\" {{ Date.now() }}"
      }
    }
  ],
  "connections": {
    "MQTT: Air Quality": {
      "main": [[{ "node": "Parse AQ Alert", "type": "main", "index": 0 }]]
    },
    "Parse AQ Alert": {
      "main": [[{ "node": "Alerts Only", "type": "main", "index": 0 }]]
    },
    "Alerts Only": {
      "main": [
        [{ "node": "Telegram: AQ Alert", "type": "main", "index": 0 }],
        [{ "node": "InfluxDB: Log Metric", "type": "main", "index": 0 }]
      ]
    }
  }
}
