n8n-workflows/presence-alerts-workflow.json
{
  "name": "ESP32 Presence Alerts",
  "__import_instructions": [
    "1. Open n8n at http://192.168.10.60:5678",
    "2. Workflows → Import from File → upload this JSON",
    "3. Open workflow → configure MQTT credentials",
    "4. Activate the workflow"
  ],
  "__mqtt_setup": "Add MQTT credential: broker=192.168.50.127, port=1883, user/pass from secrets.yaml",
  "__telegram_setup": "Reuse your existing HomeLab Telegram bot credential",
  "nodes": [
    {
      "id": "mqtt-trigger",
      "name": "MQTT: Presence Events",
      "type": "n8n-nodes-base.mqttTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {
        "topics": "homelab/presence/+/occupied",
        "options": { "qos": 1 }
      },
      "credentials": {
        "mqtt": { "id": "mqtt-homelab", "name": "Homelab MQTT" }
      }
    },
    {
      "id": "code-parse",
      "name": "Parse Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300],
      "parameters": {
        "jsCode": "const topic = $input.first().json.topic;\nconst payload = $input.first().json.message;\nconst parts = topic.split('/');\nconst room = parts[2];\nconst roomNames = {\n  'office': 'Office',\n  'livingroom': 'Living Room',\n  'bedroom': 'Bedroom',\n  'kitchen': 'Kitchen',\n  'hallway': 'Hallway'\n};\nreturn [{\n  json: {\n    room,\n    roomName: roomNames[room] || room,\n    occupied: payload === 'true',\n    timestamp: new Date().toISOString(),\n    emoji: payload === 'true' ? '🟢' : '⚪'\n  }\n}];"
      }
    },
    {
      "id": "telegram-notify",
      "name": "Telegram: Room Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [650, 300],
      "parameters": {
        "chatId": "-4985168305",
        "text": "={{ $json.emoji }} <b>{{ $json.roomName }}</b>: {{ $json.occupied ? 'occupied' : 'now empty' }}\n🕐 {{ new Date($json.timestamp).toLocaleTimeString() }}",
        "additionalFields": { "parse_mode": "HTML" }
      },
      "credentials": {
        "telegramApi": { "id": "telegram-homelab", "name": "HomeLab Telegram" }
      }
    }
  ],
  "connections": {
    "MQTT: Presence Events": {
      "main": [[{ "node": "Parse Event", "type": "main", "index": 0 }]]
    },
    "Parse Event": {
      "main": [[{ "node": "Telegram: Room Alert", "type": "main", "index": 0 }]]
    }
  }
}
